<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <title>update</title>
    <!-- CSS only -->
    <div th:replace="fragments/header::header-css"></div>
</head>
<body>
<div th:if="${isUpdate}">
    no equals password
</div>
<div th:replace="fragments/header :: header-fr"></div>
<section class="vh-100" style="background-color: #eee;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-12 col-xl-6">

                <div class="card" style="border-radius: 15px;">
                    <div class="card-body text-center">
                        <div class="mt-3 mb-4">
                            <img th:src="@{${user.imageURL}}"
                                 class="rounded-circle img-fluid" style="width: 100px;" alt="avatar"/>
                        </div>
                    <form th:href="@{user/update/{id}(id = user.id)}"  method="post">

                            <div class="form-text mb-4">
                                <p class="mb-2 h5">First Name</p>
                                <input type="text" class="form-control" name="firstName"
                                       th:value="${user.firstName}"  th:name="firstName" required>
                            </div>
                        <div class="form-text mb-4">
                                <p class="mb-2 h5">Last Name</p>
                                <input type="text" class="form-control" name="lastName"
                                       th:value="${user.lastName}"
                                       th:name="lastName" required>
                            </div>
                        <label>
                            Country
                            <select class="form-select-sm mb-2" th:name="country"
                                    aria-multiselectable="false" >
                                <option th:each="c : ${T(com.trans.model.enums.Countries).values()}"
                                        th:value="${c == user.country} ? ${user.country} :${c}" th:text="${c}"></option>
                            </select>
                        </label>
                            <div class="form-text mb-4">
                                <p class="mb-2 h5">City</p>
                                <input type="text" class="form-control" name="city"
                                       th:value="${user.city}" th:name="city" required>
                            </div>
                        <div class="form-text mb-4">
                                <p class="mb-2 h5">Number Phone</p>
                                <input type="text" class="form-control" name="number"
                                       th:value="${user.number}" th:name="number" required>
                            </div>

                            <div class="form-text mb-4">
                                <p class="mb-2 h5">Email</p>
                                <input type="text" class="form-control" name="email"
                                       th:name="email" th:value="${user.email}"
                                       required>
                            </div>
                            <div class="form-text mb-4">
                                <p class="mb-2 h5">For update enter your password</p>
                                <input for="password-input" type="text" class="form-control" id="password-input"
                                       name="password" th:name="password" required/>
                                <a href="#" class="password-control"></a>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block mb-4">
                                Save change
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div th:replace="fragments/footer :: footer-fr"></div>
</body>
</html>