<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <title>
        New cargo
    </title>
    <!-- CSS only -->
    <div th:replace="fragments/header::header-css"></div>
    <div th:replace="fragments/header::header-fr"></div>

</head>
<body>
<div class="container">
    <div class="row">

        <div class="col-md-8 col-md-offset-2">
            <form th:action="@{/user/{id_user}/cargo/add (id_user = ${user_id})}" th:method="post" th:object="${cargo}">
                <legend class="text-center">Register</legend>

                <fieldset>
                    <legend>Account Details</legend>

                    <div class="form-group col-md-6">
                        <label>Name Cargo</label>
                        <input type="text" class="form-control" th:field="*{name}" placeholder="First Name">
                    </div>
                    <label>
                        Country from
                        <select class="form-select-sm mb-2" name="country-from"
                                aria-multiselectable="false" th:field="*{country_from}">
                            <option th:each="c : ${T(com.trans.model.enums.Countries).values()}"
                                    th:value="${c}" th:text="${c}"></option>
                        </select>
                    </label>
                    <label>
                        Country to
                        <select class="form-select-sm mb-2" name="country-to"
                                aria-multiselectable="false" th:field="*{country_to}">
                            <option th:each="c : ${T(com.trans.model.enums.Countries).values()}"
                                    th:value="${c}" th:text="${c}"></option>
                        </select>
                    </label>

                    <div class="form-group col-md-6">
                        <label for="">Country from</label>
                        <input type="text" th:field="*{city_from}"
                               class="form-control" name="country_to" placeholder="country_to">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="">Country to</label>
                        <input type="text" th:field="*{city_to}"
                               class="form-control" name="country_to" placeholder="country_to">
                    </div>
                    <div>
                        <label>Date of dateline</label>
                        <input type="datetime-local" name="dateDeadline"  required/>
                    </div>

                    <div class="form-group col-md-6">
                        <label>Weight</label>
                        <input type="text" th:field="*{weight}"
                               class="form-control" placeholder="weight">
                    </div>

                    <div class="form-group col-md-6">
                        <label>volume</label>
                        <input type="text" th:field="*{volume}"
                               class="form-control" placeholder="length">
                    </div>
                    <div class="form-group col-md-6">
                        <label>price</label>
                        <input type="text" th:field="*{price}"
                               class="form-control" placeholder="length">
                    </div>

                </fieldset>

                <fieldset>
                    <legend>Type Transport</legend>

                    <div class="form-group col-md-6">
                        <label>
                            Type transport
                            <select class="form-select-sm mb-2" name="country"
                                    aria-multiselectable="false" th:field="*{typeTransport}">
                                <option th:each="c : ${T(com.trans.model.enums.TypeTransport).values()}"
                                        th:value="${c}" th:text="${c.getTypeValue()}"></option>
                            </select>
                        </label>
                    </div>
                </fieldset>

                <div class="form-group">
                    <div class="col-md-12">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="" id="" required>
                                I accept the <a href="#">terms and conditions</a>.
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary">
                            New Cargo
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div th:replace="fragments/footer::footer-fr"></div>
</body>
</html>