<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <title>list cargo</title>
    <link rel="icon" type="image" th:href="@{img/icons/list.ico}">

    <link rel="stylesheet" th:href="@{/styles/css/lists.css}" media="all" type="text/css">
    <div th:replace="fragments/header::header-css"></div>
    <div th:replace="fragments/header::header-fr"></div>
</head>
<body>

<div th:if="${notExists}" class="alert alert-warning" role="alert">
    <h4 class="alert-heading">You dont have cargo!</h4>
    <p>You can add cargo right now!</p>
    <hr>
    <p class="mb-0"><a th:href="@{/users/{id}/cargo/add (id = ${user.id})}"
                       class="btn btn-outline-primary my-1">Add</a></p>
</div>
<div class="page">
    <div th:if="${notExists} == false">
        <table class="table table-hover table-info table-bordered table-sm">
            <thead class="table-group-divider table-light">
            <tr>
                <div class="head-table">
                    <th scope="col">ID</th>
                    <th scope="col">Date</th>
                    <th scope="col">Countries</th>
                    <th scope="col">Cities</th>
                    <th scope="col">Name</th>
                    <th scope="col">Characteristics</th>
                    <th scope="col">Price</th>
                    <th scope="col">Type</th>
                    <th scope="col">Owner</th>
                    <th scope="col">PANEL</th>
                </div>
            </tr>
            </thead>
            <tbody>
            <tr th:each="c:${listActiveCargo}">
                <td th:text="${c.id}"></td>
                <td>
                    <div th:text="${#temporals.format(c.localDateCreated,'dd-MMM-yy HH:mm')}"></div>
                    -
                    <span th:text="${#temporals.format(c.localDateDeadline,'dd-MMM-yy HH:mm')}"></span>
                </td>
                <td>
                    <span th:text="${c.countryFrom}"></span>
                    ->
                    <span th:text="${c.countryTo}"></span>
                </td>
                <td>
                    <span th:text="${c.cityFrom}"></span>
                    ->
                    <span th:text="${c.cityTo}"></span>
                </td>
                <td th:text="${c.name}">
                <td>
                    Weight: <span th:text="${c.weight} + ' t'"></span>
                    <br>
                    Volume: <span th:text="${c.volume} + ' m3'"></span>

                </td>
                <td th:if="${c.price == 0.0}">contract</td>
                <td th:if="${c.price != 0.0}">
                    <div th:text="${c.price}+' $'"></div>
                </td>
                <td th:text="${c.isFree}">
                <td>
                    <div th:text="${c.user.activity.value}"></div>
                    <a th:href="@{/users/{user_id}/profile(user_id = ${c.user.id})}"
                       th:text="${c.user.nameCompany}"></a>
                </td>

                </td>
                <td>
                    <div th:unless="${#authentication.getName() == c.user.email}">
                        <form th:action="@{/orders/cargo/{cargo_id}/book(cargo_id = ${c.id})}" th:method="get">
                            <button type="submit" class="badge btn-primary">send offer</button>
                        </form>
                    </div>
                    <div th:if="${user.email == #request.userPrincipal.getName()} or ${#request.isUserInRole('ADMIN')}">
                        <form th:action="@{/users/{user_id}/cargo/remove/{cargo_id} (cargo_id = ${c.id},user_id = ${c.user.id})}"
                              method="get">
                            <button type="submit" class="badge badge-danger">delete</button>
                        </form>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="row" th:fragment="pagination">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <nav aria-label="Pagination">
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:each="pageNumber : ${pageNumbers}">
                        <div th:if="${pageNumber} == ${cargoPage}">
                            <!--                            <li class="page-item active">-->
                            <a class="page-link active" th:text="${pageNumber}"></a>
                            <!--                            </li>-->
                        </div>
                        <div th:unless="${pageNumber} == ${cargoPage}">
                            <!--                            <li th:class="page-item">-->
                            <a class="page-link" th:href="@{/users/{user_id}/cargo(user_id = ${user.id},page=${pageNumber})}"
                               th:text="${pageNumber}"></a>
                            <!--                            </li>-->
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div th:replace="fragments/footer::footer-fr"></div>
</div>
</body>
</html>