<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>list all cargo</title>
       <div th:replace="fragments/header::header-css"></div>
    <div th:replace="fragments/header::header-fr"></div>
</head>
<body>
<div th:each="user:${userList}">
    <div th:each="cargo:${user.cargoList}" >
        <span th:text="${cargo}"></span><br>
    </div>
</div>

<table class="table table-hover">
    <thead>
    <tr>
        <div class="head-table">
            <th scope="col">ID</th>
            <th scope="col">NAME</th>
            <th scope="col">EMAIL</th>
            <th scope="col">NUMBER</th>
            <th scope="col">ROLE</th>
            <th scope="col">STATUS</th>
            <th scope="col">PANEL</th>
        </div>
    </tr>
    </thead>
    <tbody>
    <tr th:each="u:${users}">
        <th th:text="${u.id}">
        <td th:text="${u.nickname}">
        <td th:text="${u.email}">
        <td th:text="${u.numberPhone}">
        <td th:text="${u.role}">
        <td th:text="${u.status}">
        <td>
            <div th:if="${u.status != 'Admin'}">
                <form th:action="@{/user/delete/{id}(id = ${u.id})}" method="post">
                    <button type="submit" class="badge badge-danger">delete</button>
                </form>
            </div>
        </td>
    </tr>
</table>
</body>
</html>