<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>list cargo</title>
    <div th:replace="fragments/header::header-css"></div>
    <div th:replace="fragments/header::header-fr"></div>
</head>
<body>

<div th:each="cargo:${cargoList}" >
    <span th:text="${cargo}"></span>
</div><br>

<table class="table table-hover">
    <thead>
    <tr>
        <div class="head-table">
            <th scope="col">ID</th>
            <th scope="col">NAME</th>
            <th scope="col">EMAIL</th>
            <th scope="col">NUMBER</th>
            <th scope="col">ROLE</th>
            <th scope="col">STATUS</th>
            <th scope="col">PANEL</th>
        </div>
    </tr>
    </thead>
    <tbody>
    <tr th:each="c:${cargoList}">
        <th th:text="${c.id}">
        <td th:text="${c.name}">
        <td th:text="${c.county_form}">
        <td th:text="${c.county_to}">
        <td th:text="${c.height}">
        <td th:text="${c.length}">
        <td th:text="${c.weight}">
        <td th:text="${c.dateCreated}">
        <td th:text="${c.dateDeadline}">
        <td th:text="${c.user}">
        <td>
            <div th:if="${c.user.getEmail == principal.getUsername()}">
                <form th:action="@{/user/{id_u}/cargo/remove/id_c(id_u = ${c.user.getId()},id_c = ${c.id})}" method="post">
                    <button type="submit" class="badge badge-danger">delete</button>
                </form>
            </div>
        </td>
    </tr>
</table>
</body>
</html>