<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>list all cargo</title>
    <div th:replace="fragments/header::header-css"></div>
    <link rel="stylesheet" th:href="@{/styles/css/lists.css}" media="all" type="text/css">
    <div th:replace="fragments/header::header-fr"></div>
</head>
<body>
<div class="page">

    <div class="container py-3 h-100">
        <div class="container" style="margin-top: 6px;">
            <form th:href="@{/cargo}">
                <div class="row">
                    <div class="col-md-3">
                        <input class="form-control mb-3 " th:name="keyword" type="search" th:value="${keywordPage}"
                               placeholder="Name">
                    </div>
                    <div class="col-md-3"><input class="form-control  mb-3 " th:name="countryFrom" type="search"
                                                 placeholder="Country From"></div>
                    <div class="col-md-3"><input class="form-control  mb-3 " th:name="countryTo" type="search"
                                                 placeholder="Country To"></div>
                    <div class="col-md-3"><input class="form-control  mb-3 " th:name="cityFrom" type="search"
                                                 placeholder="City From"></div>
                    <div class="col-md-3"><input class="form-control  mb-3 " th:name="cityTo" type="search"
                                                 placeholder="City To"></div>
                    <div class="col-md-3"><input class="form-control  mb-3 " th:name="price" type="number" step="0.1"
                                                 min="0" max="100000"
                                                 placeholder="Price"></div>
                    <div class="col-md-3"><input class="form-control  mb-3 " th:name="volume" type="number" step="0.1"
                                                 min="0" max="100"
                                                 placeholder="Volume"></div>
                    <div class="col-md-3"><input class="form-control  mb-3 " th:name="weight" type="number" step="0.1"
                                                 min="0" max="30"
                                                 placeholder="Weight"></div>
                </div>
                <div class="text-center flex-box">
                    <button class="btn btn-outline-success col-4" type="submit">Search</button>
                </div>
            </form>
        </div>
        <div class="row d-flex justify-content-center ">
            <div class="col-4">
                <h3 th:if="${keywordPage != '' and keywordPage != null}">
                    Filter:
                    <span th:text="${keywordPage}"></span>
                </h3>
            </div>
        </div>
    </div>
    <div th:if="${cargoList.size() == 0}">
        <div class="text-center alert alert-info">
            Dont have info!
        </div>
    </div>
    <div th:if="${cargoList.size() != 0}">
    <table class="table table-hover table-info table-bordered table-sm">
        <thead class="table-group-divider table-light">
        <thead>
        <tr>
            <div class="head-table">
                <th scope="col">Date</th>
                <th scope="col">Countries</th>
                <th scope="col">Cities</th>
                <th scope="col">Name</th>
                <th scope="col">Type TS</th>
                <th scope="col">Characteristics</th>
                <th scope="col">Price</th>
                <th scope="col">Owner</th>
                <th scope="col">Panel</th>
            </div>
        </tr>
        </thead>
        <tbody>
        <tr th:each="c:${cargoList}">
            <td>
                <div th:text="${#temporals.format(c.localDateCreated,'dd-MM-yy HH:mm')}+' -->'"></div>

                <span th:text="${#temporals.format(c.localDateDeadline,'dd-MM-yy HH:mm')}"></span>
            </td>
            <td>
                <span th:text="${c.countryFrom}"></span>
                ->
                <span th:text="${c.countryTo}"></span>
            </td>
            <td>
                <span th:text="${c.cityFrom}"></span>
                ->
                <span th:text="${c.cityTo}"></span>
            </td>
            <td th:text="${c.name}">
            <td th:text="${c.typeTransport.typeValue}">
            <td>
                Weight: <span th:text="${c.weight} + ' t'"></span>
                <br>
                Volume: <span th:text="${c.volume} + ' m3'"></span>

            </td>
            <td th:if="${c.price == 0.0}">contract</td>
            <td th:if="${c.price != 0.0}">
                <div th:text="${c.price}+' $'"></div>
            </td>
            <td>

                <div sec:authorize="isAuthenticated()">
                    <span th:text="${c.user.activity.value}"></span>
                    <span th:text="' - '+${c.user.type.value + ', number [ ' + c.user.number}+' ]'"></span><br>
                    <a th:href="@{/users/{user_id}/profile(user_id = ${c.user.id})}"
                       th:text="${c.user.nameCompany}"></a>
                </div>
                <div sec:authorize="!isAuthenticated()">
                    <a th:href="@{/login}">Information Owner</a>
                </div>
            </td>
            <td>
                <div class="align-items-center">
                    <div th:if="${#authentication.getName()== c.user.email}">
                        Your cargo!
                    </div>
                    <div th:unless="${#authentication.getName() == c.user.email}">
                        <div th:if="${#authentication.authenticated}">
                            <form th:action="@{/orders/cargo/{cargo_id}/book(cargo_id = ${c.id})}" th:method="get">

                                <button type="submit" class="badge btn-primary">send offer</button>
                            </form>
                        </div>
                    </div>
                    <div th:if="${#request.isUserInRole('ADMIN')}">
                        <form th:action="@{/users/{user_id}/cargo/remove/{cargo_id} (cargo_id = ${c.id},user_id = ${c.user.id})}"
                              method="get">
                            <button type="submit" class="badge badge-danger">delete</button>
                        </form>
                    </div>
                </div>
            </td>
        </tr>
    </table>
        <div th:if="${pageNumbers != null}">

    <div class="position-absolute bottom-0 start-50 translate-middle-x mb-5" th:fragment="pagination">
<!--        <div class="col-md-2"></div>-->
        <div class="col-md-8">
            <nav aria-label="Pagination">
                <ul class="pagination">
                    <div th:if="${cargoPage != 1}">
                        <li class="page-item">
                            <a class="page-link" th:href="@{/cargo(page=${cargoPage - 1})}"
                               th:text="${'<'}"></a>
                        </li>
                    </div>
                    <div th:if="${cargoPage == 1}">
                        <li class="page-item">
                            <a class="page-link" disabled
                               th:text="${'<'}"></a>
                        </li>
                    </div>
                        <li class="page-item">
                            <a class="page-link active"
                               th:text="${cargoPage}"></a>
                        </li>
                    <div th:if="${cargoPage != pageNumbers.size()}">
                        <li class="page-item">
                            <a class="page-link" th:href="@{/cargo(page=${cargoPage+1})}"
                               th:text="${'>'}"></a>
                        </li>
                    </div>
                    <div th:if="${cargoPage == pageNumbers.size()}">
                        <li class="page-item">
                            <a class="page-link" readonly
                               th:text="${'>'}"></a>
                        </li>
                    </div>
                </ul>
            </nav>
        </div>
        </div>

<!--        <div class="col-md-2"></div>-->
    </div>
    </div>
    <div th:replace="fragments/footer::footer-fr"></div>
</div>

</body>
</html>