<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <link rel="shorcut icon" th:src="@{//cdn-icons-png.flaticon.com/512/3566/3566665.png}">
    <title>web-trans</title>
    <!-- CSS only -->
    <div th:replace="fragments/header::header-css"></div>
    <div th:replace="fragments/header::header-fr"></div>
    <link rel="stylesheet" th:href="@{/styles/css/style.css}" media="all" type="text/css">
</head>
<body>
<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">WEB-Trans</h1>
            <p class="lead text-muted">Что-то краткое и ведущее о коллекции ниже - ее содержание, создатель и т.д.
                Сделайте ее короткой и интересной, но не слишком короткой, чтобы люди просто не пропустили ее
                полностью.</p>
            <p>
                <a th:href="@{/cargo/list}" type="button" class="btn btn-outline-info">Find cargo</a>
                <a th:href="@{/transport/list}" type="button" class="btn btn-outline-info">Find transport</a>
            </p>
        </div>
    </div>
</section>
<div class="row">
    <div class="card ml" style="width:400px">
        <img class="card-img-top" th:src="@{https://cdn-icons-png.flaticon.com/512/3566/3566665.png}" alt="Card image" style="width:100%">
        <div class="card-body">
            <h4 class="card-title">John Doe</h4>
            <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
            <a href="#" class="btn btn-primary stretched-link">See Profile</a>
        </div>
    </div>
<!--</div>
<div class="container">-->
    <div class="card" style="width:400px">
        <img class="card-img-top" th:src="@{https://png.pngtree.com/png-vector/20190308/ourlarge/pngtree-cargo-business-shipping-png-image_785606.jpg}"
             alt="Card image" style="width:100%">
        <div class="card-body">
            <h4 class="card-title">John Doe</h4>
            <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
            <a href="#" class="btn btn-primary stretched-link">See Profile</a>
        </div>
    </div>
</div>
<div th:replace="fragments/footer::footer-fr"></div>
</body>
</html>