<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="shortcut icon"
          th:href="@{https://w7.pngwing.com/pngs/548/737/png-transparent-peterbilt-semi-trailer-truck-truck.png}"
          type="image/x-icon">
    <title>
        New transport
    </title>
    <!-- CSS only -->
    <div th:replace="fragments/header::header-css"></div>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <form th:action="@{/user/{id}/transport/add (id = ${user_transport_id})}" th:method="post"
                  th:object="${transport}">
                <legend class="text-center">Register</legend>

                <fieldset>
                    <legend>Account Details</legend>
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" th:field="*{name}" placeholder="Volvo">
                        <label>Name Transport</label>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Max capacity load</label>
                        <input type="number" th:field="*{maxCapacityLoad}"
                               class="form-control" name="country_from" placeholder="maxCapacityLoad">
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Optional Details</legend>

                    <div class="form-group col-md-6">
                        <label for="country">Country of Residence</label>
                            <select class="form-control" th:field="*{type}" id="country">
                                <option th:each="type : ${T(com.trans.model.enums.TypeTransport).values()}"
                                        th:value="${type}" th:text="${type.typeValue}"></option>
                            </select>
                    </div>
                </fieldset>

                <div class="form-group">
                    <div class="col-md-12">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="" id="" required>
                                I accept the <a href="#">terms and conditions</a>.
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary">
                            Add Transport
                        </button>
                    </div>
                </div>

            </form>
        </div>

    </div>
</div>
<div th:replace="fragments/footer::footer-fr"></div>
</body>
</html>