<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>list cargo</title>
    <div th:replace="fragments/header::header-css"></div>
    <div th:replace="fragments/header::header-fr"></div>
    <link rel="stylesheet" th:href="@{/styles/css/lists.css}" media="all" type="text/css">
</head>
<body>
<h3>
    Filter: type -
    <span th:text="${typeTransport}"></span>
</h3>
<form th:href="@{/transports}">
    <div class="form-group col-md-1">
        <label for="country">Type:</label>
        <select class="form-control" id="country" th:name="typeTransport">
        <option>All</option>
                <option th:each="city : ${T(com.trans.model.enums.TypeTransport).values()}"
                        th:value="${city}" th:text="${city.typeValue}"></option>
        </select>
        <button type="submit">Filter</button>
        <button type="reset"><a th:href="@{list1}">reset</a></button>
    </div>
</form>
<div class="page">
    <table class="table table-hover table-info table-bordered table-sm">
        <thead class="table-group-divider table-light">
        <thead>
        <tr>
            <div class="head-table">
                <th scope="col">Name</th>
                <th scope="col">Type</th>
                <th scope="col">Capacity Load (Max)</th>
                <th scope="col">Is free</th>
                <th scope="col">Owner</th>
                <th scope="col">PANEL</th>
            </div>
        </tr>
        </thead>
        <tbody>
        <tr th:each="t:${transportList}">
            <td th:text="${t.name}">
            <td th:text="${t.type}">
            <td th:text="${t.maxCapacityLoad}">
            <td th:text="${t.isFree}">
            <td>
                <div th:text="${t.user.activity.value}"></div>
                <a th:href="@{/users/{user_id}/profile(user_id = ${t.user.id})}" th:text="${t.user.nameCompany}"></a>
            </td>
            <td>
                <div th:if="${#request.isUserInRole('ADMIN')}">
                    <a th:href="@{#}">d</a>
                </div>
                <div class="align-items-center">
                    <div th:if="${#authentication.getName()== t.user.email}">
                        Your transport!
                    </div>
                    <div th:unless="${#authentication.getName() == t.user.email}">
                        <form th:action="@{/orders/transports/{ts_id}/book(ts_id = ${t.id})}" th:method="get">
                            <button type="submit" class="badge btn-primary">send offer</button>
                        </form>
                    </div>
                </div>
            </td>
        </tr>
    </table>
    <div class="row" th:fragment="pagination">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <nav aria-label="Pagination">
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:each="pageNumber : ${pageNumbers}">
                        <div th:if="${pageNumber} == ${transportPage}">
                            <a class="page-link active"
                               th:text="${pageNumber}"></a>
                        </div>
                        <div th:unless="${pageNumber} == ${transportPage}">
                            <!--                            <li th:class="page-item">-->
                            <a class="page-link" th:href="@{/transports(page=${pageNumber},typeTransport =${typeTransport})}"
                               th:text="${pageNumber}"></a>
                            <!--                            </li>-->
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div th:replace="fragments/footer::footer-fr"></div>
</div>
</body>
</html>