<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>list transport</title>
    <div th:replace="fragments/header::header-css"></div>
    <div th:replace="fragments/header::header-fr"></div>
    <link rel="stylesheet" th:href="@{/styles/css/lists.css}" media="all" type="text/css">

</head>
<body>

<div th:if="${notExists}" class="alert alert-warning" role="alert">
    <h4 class="alert-heading">You dont have transport!</h4>
    <p>You can add transport right now!</p>
    <hr>
    <p class="mb-0"><a th:href="@{/users/{id}/transport/add (id = ${user.id})}"
                       class="btn btn-outline-primary my-1">Add</a></p>
</div>
<div class="page">
    <div th:if="${notExists} == false">
        <table class="table table-hover table-info table-bordered table-sm">
            <thead class="table-group-divider table-light">
            <tr>
                <div class="head-table">
                    <th scope="col">Name</th>
                    <th scope="col">Type</th>
                    <th scope="col">Capacity Load (Max)</th>
                    <th scope="col">Status</th>
                    <th scope="col">Owner</th>
                    <th scope="col">Panel</th>
                </div>
            </tr>
            </thead>
            <tbody>
            <tr th:each="t:${user.transportList}">
                <td th:text="${t.name}">
                <td th:text="${t.type}">
                <td th:text="${t.maxCapacityLoad}">
                <td th:if="${t.isFree}">
                Free
                </td>
                <td th:unless="${t.isFree}">
                Busy
                </td>
                <td>
                    <div th:text="${t.user.activity}"></div>
                    <a th:href="@{/users/profile/{id_user}(id_user = ${t.user.id})}" th:text="${t.user.nameCompany}"></a>
                </td>
                <td>
                    <form th:action="@{#}" th:method="post">
                        <button type="submit" class="badge btn-primary">send offer</button>
                    </form>
                    <div th:if="${user.email == #request.userPrincipal.getName()} or ${#request.isUserInRole('ADMIN')}">
                        <form th:action="@{/users/{user_id}/transports/remove/{transport_id} (transport_id = ${t.id},user_id = ${user.id})}"
                              method="get">
                            <button type="submit" class="badge badge-danger">delete</button>
                        </form>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div th:replace="fragments/footer::footer-fr"></div>
</div>
</body>
</html>