<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>list cargo</title>
    <div th:replace="fragments/header::header-css"></div>
    <div th:replace="fragments/header::header-fr"></div>
    <link rel="stylesheet" th:href="@{/styles/css/lists.css}" media="all" type="text/css">
</head>
<body>
<div class="page">
    <table class="table table-hover table-info table-bordered table-sm">
        <thead class="table-group-divider table-light">
        <thead>
        <tr>
            <div class="head-table">
                <th scope="col">Name</th>
                <th scope="col">Type</th>
                <th scope="col">Capacity Load (Max)</th>
                <th scope="col">Is free</th>
                <th scope="col">Owner</th>
                <th scope="col">PANEL</th>
            </div>
        </tr>
        </thead>
        <tbody>
        <tr th:each="t:${transportList}">
            <td th:text="${t.name}">
            <td th:text="${t.type}">
            <td th:text="${t.maxCapacityLoad}">
            <td th:text="${t.isFree}">
            <td>
                <div th:text="${t.user.activity.value}"></div>
                <a th:href="@{/users/{user_id}/profile(user_id = ${t.user.id})}" th:text="${t.user.nameCompany}"></a>
            </td>
            <td>
                <div th:if="${#request.isUserInRole('ADMIN')}">
                    <a th:href="@{#}">d</a>
                </div>
                <div class="align-items-center">
                    <div th:if="${#authentication.getName()== t.user.email}">
                        Your transport!
                    </div>
                    <div th:unless="${#authentication.getName() == t.user.email}">
                            <form th:action="@{/orders/transports/{ts_id}/book(ts_id = ${t.id})}" th:method="get">
                                <button type="submit" class="badge btn-primary">send offer</button>
                            </form>
                    </div>
                </div>
            </td>
        </tr>
    </table>
    <div th:replace="fragments/footer::footer-fr"></div>
</div>
</body>
</html>