<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>list transport</title>
    <div th:replace="fragments/header::header-css"></div>
    <div th:replace="fragments/header::header-fr"></div>
    <link rel="stylesheet" th:href="@{/styles/css/profile.css}" media="all" type="text/css">

</head>
<body>

<div th:if="${notExists}" class="alert alert-warning" role="alert">
    <h4 class="alert-heading">You dont have transport!</h4>
    <p>You can add transport right now!</p>
    <hr>
    <p class="mb-0"><a th:href="@{/user/{id}/transport/add (id = ${user.id})}"
                       class="btn btn-outline-primary my-1">Add</a></p>
</div>
<div class="page">
    <div th:if="${notExists} == false">
        <table class="table table-hover table-info table-bordered table-sm">
            <thead class="table-group-divider table-light">
            <tr>
                <div class="head-table">
                    <th scope="col">ID</th>
                    <th scope="col">name</th>
                    <th scope="col">Type</th>
                    <th scope="col">Owner</th>
                    <th scope="col">PANEL</th>
                </div>
            </tr>
            </thead>
            <tbody>
            <tr th:each="t:${user.transportList}">
                <th th:text="${t.id}">
                <td th:text="${t.name}">
                <td th:text="${t.maxCapacityLoad}">
                <td th:text="${t.typeTransport}">

                </td>

                <td>
                    <div th:text="${t.user.status}"></div>
                    <a th:href="@{/user/profile/{id_user}(id_user = ${t.user.id})}" th:text="${t.user.nickname}"></a>
                </td>
                <td>
                    <div th:if="${user.email == #request.userPrincipal.getName()}">
                        <form th:action="@{/user/{user_id}/transport/remove/{transport_id} (transport_id = ${t.id},user_id = ${user.id})}"
                              method="get">
                            <button type="submit" class="badge badge-danger">delete</button>
                        </form>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div th:replace="fragments/footer::footer-fr"></div>
</div>
</body>
</html>